@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600|Cabin');

@mixin fonts($family,
$size,
$weight,
$color) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: default;
}
.active {
    display: none;
}

.titles {
    .title {
        @include fonts('Raleway',
        32px,
        500,
        #000);

        &_color-white {
            color: #fff;
        }
    }

    &__line {
        width: 77px;
        height: 2px;
        background-color: #fb6470;
        border: 0;
        margin: 0;
        margin-top: 15px;
    }
}

.main-box {
    display: flex;
}

.menu-smart {
    display: none;
}

.menu-icon {
    position: absolute;
    left: 85px;
    top: 45px;
    cursor: pointer;
}

.menu {
    margin-left: -275px;
    width: 275px;
    background-color: #353541;
    border-right: 1px solid #242431;
    flex-shrink: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 1;

    .menu-photo {
        height: 222px;
        background-image: url(../images/profile.png);
        display: flex;
        align-items: flex-end;
    }

    .menu-title {
        padding: 0 30px 15px;

        &__name {
            @include fonts('Raleway',
            32px,
            500,
            #fff);
        }

        &__work {
            padding-top: 5px;
            @include fonts('Raleway',
            16px,
            500,
            #fff);
        }
    }

    .menu-nav {
        width: 100%;

        &__link {
            display: block;
            padding: 20px 30px;
            text-decoration: none;
            @include fonts('Raleway',
            22px,
            500,
            #fff);
            border-bottom: 1px solid #242431;
            transition: 0.5s;

            &:hover {
                padding-left: 50px;
                cursor: pointer;
                background-color: #fb6470;
                color: #000;
                transition: 0.5s;
            }

            &:active {
                background-color: #ff0015;
            }
        }
    }
}

.content {
    width: 100%;
    transition: 0.5s;
    flex-grow: 1;
}

.menu-smart:checked~.menu {
    margin-left: 0;
    transition: 0.5s;
}

.menu-smart:checked~.content {
    width: calc(100% - 275px);
    transition: 0.5s;
}

.start-menu {
    opacity: 1;
    transition: opacity 1s;
    width: 75px;
    height: 50px;
    background: url(../images/menu.png) center no-repeat;
    position: absolute;
    left: 85px;
    top: 45px;
    cursor: pointer;

    &:hover {
        background-color: #ccc;
        border-radius: 10px;
        transition: background-color 0.5s;
    }

    &:active {
        background-color: #fff;
        border-radius: 10px;
        transition: background-color 0.5s;
    }
}

.close-menu {
    position: absolute;
    top: 45px;
    left: 50px;
    margin-left: -325px;
    transition: 0.5s;
    z-index: 2;
    background: url(../images/x.png) center no-repeat;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.menu-smart:checked~.start-menu {
    opacity: 0;
    transition: 0.3s;
}

.menu-smart:checked~.close-menu {
    margin-left: 0;
    transition: 0.5s;
}

// Home
.header {
    background-color: #353541;
    height: 586px;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-title {
        text-align: center;
        margin-left: 25%;

        &__name {
            margin: auto;
            @include fonts('Raleway',
            48px,
            500,
            #fff);
            padding: 10px 50px;
            border-bottom: 2px solid #fb6470;
            border-top: 2px solid #fb6470;
            width: max-content;
        }

        &__work {
            padding-top: 10px;
            @include fonts('Raleway',
            18px,
            500,
            #fff);
        }
    }

    .header-btn {
        margin-top: 50px;

        &__item {
            @include fonts('Raleway',
            22px,
            500,
            #fff);
            padding: 15px 40px;
            background-color: #fb6470;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s;

            &:hover {
                background-color: #e73b49;
                transition: background-color 0.3s;
            }

            &:active {
                background-color: #ff0015;
            }
        }
    }
}

.about {
    padding: 75px 85px 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .about-me {
        max-width: 35%;
        min-width: 350px;
        align-self: flex-end;

        &__text {
            padding-top: 30px;
            @include fonts('Raleway',
            16px,
            500,
            #000);
            line-height: 26px;
        }
    }

    .about-details {
        margin-top: 20px;
        background-color: #fff;

        &__item {
            padding: 15px 5px;
            @include fonts('Raleway',
            18px,
            600,
            #3e3e3e);

            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
        }

        &__info {
            @include fonts('Raleway',
            18px,
            400,
            #3e3e3e);
        }
    }

    .about-photo {
        margin: auto;

        &__img {
            width: 380px;
            height: 530px;
            background-color: #353541;
        }
    }
}

.timeline-work {
    padding: 60px 85px 0;

    .point {
        width: 42px;
        height: 100%;
    }

    .left {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: space-between;

        .timeline {
            margin-right: 60px;

            &:nth-child(1) {
                margin-top: 100px;
            }

            &::after {
                position: absolute;
                content: '';
                background: url(../images/re.svg);
                width: 37px;
                height: 38px;
                right: -37px;
                bottom: 25px;
                transform: scale(-1, -1);
            }
        }
    }

    .right {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        .timeline {
            margin-left: 60px;

            &:nth-child(2) {
                margin-top: 180px;
            }

            &::after {
                position: absolute;
                content: '';
                background: url(../images/re.svg);
                width: 37px;
                height: 38px;
                left: -37px;
                top: 25px;
            }
        }
    }

    .timeline-wrap {
        display: flex;
        padding-bottom: 60px;
        border-bottom: 1px solid #ccc;
    }

    .timeline {
        background-color: #353541;
        padding: 15px;
        max-width: 475px;
        border-radius: 10px;
        position: relative;

        &__title {
            @include fonts('Raleway',
            22px,
            500,
            #fff);
        }

        &__email {
            padding-left: 20px;
            @include fonts('Raleway',
            20px,
            500,
            #ccc);
        }

        &__date {
            padding: 5px 0;
            @include fonts('Raleway',
            18px,
            400,
            #fb6470);
        }

        &__text {
            @include fonts('Raleway',
            16px,
            400,
            #ccc);
            line-height: 27px;
            width: 80%;
        }
    }
}

.timeline-edu {
    @extend .timeline-work;

    .timeline-wrap {
        border-bottom: none;
    }
}

.skills {
    background-color: #1d1d24;
    padding: 60px 85px;

    .skill-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills-block {
        padding: 0 10px;
        margin-top: 45px;
    }

    .skill {
        &__text {
            @include fonts('Raleway',
            18px,
            500,
            #fff);
        }
    }

    .skill {
        margin-top: 30px;
    }

    .skill-bar {
        margin-top: 13px;
        display: flex;
        align-items: center;

        &__line {
            width: 265px;
            height: 5px;
            background-image: linear-gradient(to right, #fb6470 90%, #bcbcbe 10%);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #fb6470;
                top: -7px;
                right: 10%;
            }

            &_bg-98 {
                background-image: linear-gradient(to right, #fb6470 95%, #bcbcbe 10%);

                &::after {
                    right: 4%;
                }
            }

            &_bg-96 {
                background-image: linear-gradient(to right, #fb6470 94%, #bcbcbe 12%);

                &::after {
                    right: 5%;
                }
            }

            &_bg-80 {
                background-image: linear-gradient(to right, #fb6470 80%, #bcbcbe 20%);

                &::after {
                    right: 20%;
                }
            }

            &_bg-70 {
                background-image: linear-gradient(to right, #fb6470 70%, #bcbcbe 30%);

                &::after {
                    right: 25%;
                }
            }
        }

        &__pct {
            padding-left: 15px;
            @include fonts('Raleway',
            14px,
            500,
            #fff);
        }
    }
}

// End Home

//  Portfolio
.header-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 438px;
    background: url(../images/header-portfolio.png) no-repeat;
    background-size: 100%;

    &__title {
        @include fonts('Raleway',
        48px,
        600,
        #fff);
    }

    &__text {
        @include fonts('Raleway',
        14px,
        500,
        #fff);
    }
}

.portfolio {
    padding: 70px 95px 0;

    .slider {
        &__position {
            margin-top: 45px;
        }
    }

    .carousel-indicators {
        justify-content: space-between;
        position: relative;
        bottom: auto;
        margin: 0;
        z-index: 9;

        &::after {
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            bottom: 0;
            background-color: #ccc;
        }

        &__item {
            width: auto;
            height: auto;
            text-indent: 0;
            padding: 0 19px 10px;
            @include fonts('Raleway',
            18px,
            500,
            #000);
            background-color: transparent;
            z-index: 1;
            margin: 0;
            overflow: hidden;
            border-bottom: 2px solid transparent;
            transition: border 0.2s linear;

            &:hover {
                border-bottom: 2px solid #f27982;
                transition: border 0.2s linear;
            }
        }

        .active {
            border-bottom: 2px solid #f27982;
        }
    }

    .carousel-inner {
        margin-top: 25px;
    }

    .carousel-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project-block {
        width: 360px;
        margin-top: 20px;

        &:hover {
            .project-description {
                background-color: #000;
                transition: 0.5s;
            }
        }
    }

    .project-photo {
        height: 225px;
        overflow: hidden;
    }

    .project-description {
        background-color: #01b9c3;
        transition: 0.5s;
        padding: 15px;

        &__title {
            @include fonts('Raleway',
            22px,
            500,
            #fff);
        }

        &__text {
            @include fonts('Raleway',
            16px,
            500,
            #fff);
        }

        &_bg-blue {
            background-color: #1e2e3e;
        }

        &_bg-brown {
            background-color: #3f3d3e;
        }

        &_bg-0093b5 {
            background-color: #0093b5;
        }

        &_bg-353541 {
            background-color: #353541;
        }

        &_bg-6176ab {
            background-color: #6176ab;
        }
    }

    .project-link {
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
        width: max-content;
        transition: border 0.2s;
        cursor: pointer;

        &__item {
            @include fonts('Raleway',
            14px,
            500,
            #fff);
            text-decoration: none;
            transition: color 0.2s;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:hover {
                color: #ccc;
                transition: color 0.2s;
            }
        }

        &:hover {
            border-bottom-color: transparent;
            transition: border 0.2s;
        }

        .fa-angle-right {
            cursor: pointer;
            padding-left: 5px;
        }
    }
}

// End Portfolio

// Section Post (Single Page)
.post {
    background: url(../images/single.png) no-repeat right;

    .project-block {
        width: 62%;
        margin: auto;
        min-width: 360px;
        max-width: 750px;
    }

    .project-photo {
        overflow: hidden;
        height: 450px;
        background-color: #353541;
    }

    .project-description {
        padding: 30px 17px 20px;
        background-color: #3d4f59;

        &__title {
            @include fonts('Raleway',
            32px,
            500,
            #fff);
        }

        &__text {
            padding-top: 15px;
            @include fonts('Raleway',
            18px,
            500,
            #ccc);
        }
    }

    .post-block {
        width: 62%;
        margin: auto;

        &__text {
            @include fonts('Raleway',
            16px,
            400,
            #333333);
            line-height: 26px;
            margin-top: 30px;

            &:nth-child(1) {
                width: 54.6%;
            }

            &:nth-child(2) {
                width: 77.3%;
            }

            &:nth-child(3) {
                width: 44.5%;
            }

            &:nth-child(4) {
                width: 67%;
            }
        }
    }

    .comment-block {
        width: 62%;
        margin: 70px auto;
    }

    .comment-btn {
        padding: 17px 24px;
        background-color: #000;
        width: max-content;
        @include fonts('Cabin',
        18px,
        400,
        #fff);
    }

    .comment-user {
        margin-top: 45px;
        display: flex;

        &__photo {
            width: 75px;
            flex-shrink: 0;
            height: 75px;
            background-color: #353541;
        }

        &_margin-top-10 {
            margin-top: 10px;
        }
    }

    .comment-text {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__name {
            @include fonts('Raleway',
            18px,
            500,
            #000);
        }

        &__date {
            padding-left: 10px;
            @include fonts('Raleway',
            16px,
            400,
            #000);
        }

        &__comm {
            @include fonts('Raleway',
            16px,
            400,
            #000);
            line-height: 23px;
        }
    }

    .reply {
        margin: 40px 0 0 95px;
    }

    .reply-text {
        margin-left: 25px;
        @include fonts('Raleway',
        16px,
        500,
        #000);
    }

    .form-comment {
        display: flex;
        flex-direction: column;
        width: 312px;
        margin-top: 45px;

        &__item {
            @include fonts('Cabin',
            14px,
            400,
            #000);
            font-style: italic;
            border: 1px solid #000;
            padding: 15px 20px;
        }

        &__textarea {
            @include fonts('Cabin',
            14px,
            400,
            #000);
            font-style: italic;
            border: 1px solid #000;
            height: 169px;
            padding: 15px 20px;
            resize: none;
            margin-top: 15px;
        }

        &__submit {
            margin-top: 15px;
            @include fonts('Raleway',
            18px,
            500,
            #fff);
            padding: 14px 0 18px;
            border: 0;
            background-color: #333333;
            transition: 0.4s;
            cursor: pointer;
            outline: none;

            &:hover {
                background-color: #444444;
                transition: 0.4s;
            }

            &:active {
                background-color: #000000;
                transition: 0.4s;
            }
        }
    }
}

// End Section Post (Single Page)

//  Footer
.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 95px 0;

    .message-box {
        width: 55%;
        min-width: 335px;

        &__title {
            @include fonts('Raleway',
            22px,
            500,
            #000);
        }
    }

    .message-form-left-block {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        height: 145px;
        align-content: space-between;
        min-width: 265px;
    }

    .message-form-right-block {
        width: 45%;
        display: flex;
        margin: 0 30px;
        flex-direction: column;
    }

    .message-form {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 40px;
        border-right: 1px solid #cccccc;

        &__item {
            border: 1px solid #000;
            padding: 0px 15px;
            @include fonts('Raleway',
            14px,
            500,
            #656565);
            width: 100%;
            box-sizing: border-box;
            height: 35px;

            &::placeholder {
                @include fonts('Raleway',
                14px,
                500,
                #656565);
                font-style: italic;
            }
        }

        &__textarea {
            height: 145px;
            resize: none;
            vertical-align: bottom;
            border: 1px solid #000;
            padding: 12px 15px 10px;
            @include fonts('Raleway',
            14px,
            500,
            #656565);
            min-width: 265px;
            box-sizing: border-box;
            width: 100%;

            &::placeholder {
                @include fonts('Raleway',
                14px,
                500,
                #656565);
                font-style: italic;
            }
        }

        &__btn {
            @include fonts('Raleway',
            16px,
            500,
            #fff);
            padding: 12px 17px;
            border: none;
            background-color: #fb6470;
            cursor: pointer;
            margin-top: 15px;
            align-self: flex-end;

            &:hover {
                background-color: #bb3b46;
            }

            &:active {
                background-color: #ff0015;
            }
        }
    }

    .address {
        width: 45%;
        min-width: 340px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .address-block {
        display: flex;
        width: 80%;
        min-width: 290px;

        &__img {
            width: 32px;
            height: 32px;
            background-image: url(../images/home.svg);
            margin-right: 40px;
            align-self: center;

            &_bg-mail {
                background-image: url(../images/mail.svg);
            }

            &_bg-call {
                background-image: url(../images/call.svg);
            }
        }
    }

    .address-block-text {
        width: 75%;

        &__title {
            padding-top: 10px;
            @include fonts('Raleway',
            22px,
            500,
            #000);
        }

        &__contact {
            padding-top: 20px;
            @include fonts('Raleway',
            16px,
            500,
            #000);
        }
    }

    .social {
        width: 100%;
        margin-top: 40px;
        border-top: 1px solid #cccccc;
        text-align: center;

        .fa {
            font-size: 19px;
            padding: 3px 13px;
            margin-top: 35px;
            cursor: pointer;
        }

        .fa-skype {
            border-left: 1px solid #acacac;
            border-right: 1px solid #acacac;
            color: #9b9b9b;

            &:hover {
                color: #8e798e
            }
        }

        .fa-twitter {
            color: #626262;

            &:hover {
                color: #69d4d8;
            }
        }

        .fa-dribbble {
            color: #979797;

            &:hover {
                color: #000;
            }
        }
    }

    .copyright {
        width: 100%;
        padding: 15px 0 30px;
        text-align: center;
        @include fonts('Raleway',
        12px,
        500,
        #3e3e3e);
    }
}

//  End Footer

// media Home

@media screen and (min-width: 1416px) and (max-width: 1471px) {
    .menu-smart:checked~.content {
        .timeline-edu {
            .left {
                .timeline {
                    &:nth-child(1) {
                        margin-top: 80px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1426px) {
    .menu-smart:checked~.content {
        .skills-block {
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1415px) {
    .menu-smart:checked~.content {
        .timeline-work {
            padding: 60px 45px 0;
        }

        .timeline {
            &__text {
                width: 95%;
            }
        }
    }
}

@media screen and (min-width: 1282px) and (max-width: 1557px) {
    .menu-smart:checked~.content {
        .message-form {
            flex-direction: column;
            align-items: center;
        }

        .message-form-right-block {
            margin: 20px auto;
            width: auto;
        }
    }
}

@media screen and (min-width: 1283px) and (max-width: 1557px) {
    .menu-smart:checked~.content {
        .message-box {
            &__title {
                width: 45%;
                min-width: 265px;
                margin: auto;
            }
        }
    }
}

@media screen and (width: 1282px) {
    .menu-smart:checked~.content {
        .message-box {
            &__title {
                width: 95%;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 1282px) {
    .footer {
        .message-form {
            flex-direction: column;
            align-items: flex-start;
        }

        .message-form-left-block {
            width: 95%;
        }

        .message-form-right-block {
            margin: 20px 0;
            width: 95%;
        }
    }
}

@media screen and (min-width: 1218px) and (max-width: 1391px) {
    .menu-smart:checked~.content {
        .timeline-edu {
            .left {
                .timeline {
                    &:nth-child(1) {
                        margin-top: 75px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1196px) and (max-width: 1217px) {
    .menu-smart:checked~.content {
        .right {
            .timeline {
                &:nth-child(2) {
                    margin-top: 145px;
                }
            }
        }

        .left {
            .timeline {
                &:nth-child(1) {
                    margin-top: 75px;
                }
            }
        }
    }
}

@media screen and (min-width: 1196px) and (max-width: 1217px) {
    .menu-smart:checked~.content {
        .timeline-edu {
            .left {
                .timeline {
                    &:nth-child(1) {
                        margin-top: 55px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1141px) {
    .timeline-work {
        padding: 60px 15px 0;
    }

    .skills {
        padding: 60px 15px 30px;

        .skills-block {
            &:nth-child(3) {
                margin: 45px auto;
            }
        }
    }
}

@media screen and (min-width: 1139px) and (max-width: 1195px) {
    .menu-smart:checked~.content {
        .left {
            .timeline {
                &:nth-child(1) {
                    margin-top: 55px;
                }
            }
        }

        .right {
            .timeline {
                &:nth-child(2) {
                    margin-top: 145px;
                }
            }
        }
    }
}

@media screen and (min-width: 1139px) and (max-width: 1182px) {
    .menu-smart:checked~.content {
        .timeline-edu {
            .right {
                .timeline {
                    &:nth-child(2) {
                        margin-top: 115px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1029px) and (max-width: 1138px) {
    .menu-smart:checked~.content {
        .right {
            .timeline {
                &:nth-child(2) {
                    margin-top: 120px;
                }
            }
        }

        .left {
            .timeline {
                &:nth-child(1) {
                    margin-top: 50px;
                }
            }
        }
    }
}

@media screen and (min-width: 1023px) and (max-width: 1028px) {
    .menu-smart:checked~.content {
        .right {
            .timeline {
                &:nth-child(2) {
                    margin-top: 115px;
                }
            }
        }

        .left {
            .timeline {
                &:nth-child(1) {
                    margin-top: 50px;
                }
            }
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1282px) {
    .menu-smart:checked~.content {
        .about {
            padding: 75px 25px 0;
        }

        .about-photo {
            margin: 0;
        }

        .message-form-right-block {
            margin: 20px 0;
            width: 95%;
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1282px) {
    .menu-smart:checked~.content {
        .timeline {
            &__email {
                padding-left: 0;
            }
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1220px) {
    .menu-smart:checked~.content {
        .footer {
            justify-content: center;
        }

        .message-box {
            width: 100%;
        }

        .message-form {
            border: 0;
            border-bottom: 1px solid #ccc;
        }

        .message-form-left-block,
        .message-form-right-block {
            width: 100%;
        }

        .address-block {
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1022px) {
    .menu-smart:checked~.content {
        .right {
            .timeline {
                &:nth-child(2) {
                    margin-top: 90px;
                }
            }
        }

        .left {
            .timeline {
                &:nth-child(1) {
                    margin-top: 35px;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1054px) {
    .menu-smart:checked~.content {
        .about {
            justify-content: center;
        }

        .about-photo {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .start-menu {
        position: fixed;
        z-index: 10;
        background-color: #ccc;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid black;

        &:active {
            background-color: #9b9b9b;
        }
    }

    .close-menu {
        position: fixed;
        z-index: 11;
    }

    .menu {
        position: fixed;
        z-index: 10;
        height: 100%;
        overflow: scroll;
    }

    .header {
        .header-title {
            margin: auto;
        }
    }

    .timeline-work {
        .right {
            .timeline:nth-child(2) {
                margin-top: 150px;
            }
        }

        .left {
            .timeline:nth-child(1) {
                margin-top: 80px;
            }
        }
    }

    .timeline-edu {
        .left {
            .timeline {
                &:nth-child(1) {
                    margin-top: 55px;
                }
            }
        }
    }

    .footer {
        padding: 40px 15px 0;
    }
}

@media screen and (min-width: 901px) and (max-width: 1056px) {
    .timeline-edu {
        .left {
            .timeline {
                &:nth-child(1) {
                    margin-top: 75px;
                }
            }
        }
    }
}

@media screen and (max-width: 939px) {
    .about {
        padding: 25px 15px 25px;
    }
}

@media screen and (max-width: 900px) {
    .timeline-work {
        .right {
            .timeline:nth-child(2) {
                margin-top: 130px;
            }
        }

        .left {
            .timeline:nth-child(1) {
                margin-top: 60px;
            }
        }

        .timeline {
            &__email {
                padding-left: 0;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 785px) {
    .footer {
        justify-content: center;

        .message-form {
            border-right: 0;
            border-bottom: 1px solid #ccc;
        }

        .message-box {
            width: 75%;
        }

        .address-block {
            margin-top: 20px;
        }

        .social {
            .fa {
                margin-top: 15px;
            }
        }

        .copyright {
            padding: 15px 0 10px;
        }
    }
}

@media screen and (max-width: 769px) {
    .timeline-work {
        .timeline {
            &__text {
                width: 95%;
            }
        }
    }
}

@media screen and (max-width: 759px) {
    .about {
        justify-content: center;

        .about-photo {
            &__img {
                margin-top: 20px;
            }
        }
    }

    .footer {
        .address-block {
            &__img {
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .start-menu {
        left: 25px;
        top: 25px;
    }
}

@media screen and (max-width: 687px) {
    .timeline-work {
        .right {
            .timeline {
                margin-left: 40px;
            }
        }

        .left {
            .timeline {
                margin-right: 40px;
            }
        }
    }

    .skills {
        .skill-wrap {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and (max-width: 647px) {
    .timeline-work {
        .left {
            .timeline:nth-child(1) {
                &::after {
                    bottom: 50px;
                }
            }
        }

        .right {
            .timeline:nth-child(2) {
                margin-top: 100px;
            }
        }
    }
}

@media screen and (max-width: 639px) {
    .footer {
        justify-content: center;

        .message-box {
            width: auto;

            &__title {
                width: 95%;
                margin: auto;
            }
        }

        .message-form {
            align-items: center;
        }
    }
}

@media screen and (max-width: 615px) {
    .timeline-edu {
        .timeline-wrap {
            position: relative;
            padding: 30px 0 300px;
        }

        .point {
            display: none;
        }

        .left {
            position: absolute;

            .timeline {
                &::after {
                    left: -37px;
                    transform: scale(1, 1);
                }

                &::before {
                    position: absolute;
                    content: url(../images/point.svg);
                    width: 1px;
                    height: 100%;
                    background-color: #000;
                    left: -63px;
                    text-indent: -21px;
                    bottom: 0;
                    line-height: 13;
                }

                &:nth-child(1) {
                    margin-right: 0;
                    margin-top: 220px;
                    margin-left: 80px;

                    &::before {
                        line-height: 15;
                    }
                }

                &:nth-child(2) {
                    margin-right: 0;
                    margin-left: 80px;
                    margin-top: 280px;

                    &::after {
                        bottom: 50px;
                    }

                    &::before {
                        line-height: 24;
                        bottom: 60px;
                        height: 180px;
                    }
                }
            }
        }

        .right {
            .timeline {
                margin-left: 80px;

                &::before {
                    position: absolute;
                    content: url(../images/point.svg);
                    width: 1px;
                    height: 100%;
                    background-color: #000;
                    left: -63px;
                    text-indent: -21px;
                    bottom: 0;
                    line-height: 13;
                }

                &:nth-child(1) {
                    &::before {
                        height: 220px;
                        top: 0;
                        line-height: 0;
                    }
                }

                &:nth-child(2) {
                    margin-top: 280px;

                    &::before {
                        height: 255px;
                        line-height: 18;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 558px) {
    .timeline-work {
        .timeline-wrap {
            position: relative;
            padding: 30px 0 300px;
        }

        .point {
            display: none;
        }

        .left {
            position: absolute;

            .timeline {
                &::after {
                    left: -37px;
                    transform: scale(1, 1);
                }

                &::before {
                    position: absolute;
                    content: url(../images/point.svg);
                    width: 1px;
                    height: 100%;
                    background-color: #000;
                    left: -63px;
                    text-indent: -21px;
                    bottom: 0;
                    line-height: 13;
                }

                &:nth-child(1) {
                    margin-right: 0;
                    margin-top: 220px;
                    margin-left: 80px;

                    &::before {
                        line-height: 15;
                    }
                }

                &:nth-child(2) {
                    margin-right: 0;
                    margin-left: 80px;
                    margin-top: 280px;

                    &::after {
                        bottom: 50px;
                    }

                    &::before {
                        line-height: 24;
                        bottom: 60px;
                        height: 180px;
                    }
                }
            }
        }

        .right {
            .timeline {
                margin-left: 80px;

                &::before {
                    position: absolute;
                    content: url(../images/point.svg);
                    width: 1px;
                    height: 100%;
                    background-color: #000;
                    left: -63px;
                    text-indent: -21px;
                    bottom: 0;
                    line-height: 13;
                }

                &:nth-child(1) {
                    &::before {
                        height: 220px;
                        top: 0;
                        line-height: 0;
                    }
                }

                &:nth-child(2) {
                    margin-top: 280px;

                    &::before {
                        height: 255px;
                        line-height: 18;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 455px) {
    .timeline-work {
        .right {
            .timeline {
                &:nth-child(2) {
                    &::before {
                        line-height: 14;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .about {
        justify-content: center;

        .about-photo {
            &__img {
                width: 345px;
            }
        }
    }

    .footer {
        .message-form {
            &__btn {
                width: 100%;
            }
        }
    }
}

// end media Home

// media Portfolio
@media screen and (min-width: 1630px) {
    .carousel {
        width: 95%;
        margin: auto;
    }
}

@media screen and (min-width: 1270px) and (max-width: 1544px) {
    .menu-smart:checked~.content {
        .portfolio {
            .carousel-flex {
                justify-content: space-evenly;
            }
        }
    }
}

@media screen and (max-width: 1269px) {
    .portfolio {
        .carousel-flex {
            justify-content: space-evenly;
        }
    }
}

@media screen and (max-width: 769px) {
    .header-portfolio {
        background-size: cover;
        padding: 0 15px;
    }
}

@media screen and (max-width: 657px) {
    .header-portfolio {
        &__title {
            font-size: 30px;
        }
    }

    .portfolio {
        padding: 70px 15px 0;

        .carousel-indicators {
            &__item {
                padding: 0 0 15px;
            }
        }
    }
}

@media screen and (max-width: 421px) {
    .header-portfolio {
        &__title {
            font-size: 25px;
        }

        background-image: none;
        background-color: #000;
    }
}

// end media Portfolio

// Media Single-Page
@media screen and (min-width: 1001px) and (max-width: 1300px) {
    .menu-smart:checked~.content {
        .post {
            .post-block {

                &__text:nth-child(1),
                &__text:nth-child(2),
                &__text:nth-child(3),
                &__text:nth-child(4) {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1250px) {
    .menu-smart:checked~.content {
        .post {
            .project-photo {
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .post {
        .post-block {

            &__text:nth-child(1),
            &__text:nth-child(2),
            &__text:nth-child(3),
            &__text:nth-child(4) {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .post {
        background-image: none;

        .project-photo {
            height: 300px;
        }

        .comment-block {
            width: 90%;
        }

        .form-comment {
            width: auto;
        }
    }
}

@media screen and (max-width: 600px) {
    .post {
        .project-photo {
            height: 250px;
        }

        .post-block {
            width: 90%;
        }

        .reply {
            margin: 20px 0 0 40px;
        }
    }
}

@media screen and (max-width: 450px) {
    .post {
        .comment-text {
            &__date {
                padding-left: 0;
                display: block;
            }
        }

        .reply {
            margin: 20px 0 0 20px;
        }
    }
}

// End media Single-Page
