<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="styles/style.css")
        title Home
    body
        footer.footer 
            section.message-box 
                p.message-box__title Leave a Message
                form.message-form(action="")
                    div.message-form-left-block
                        input.message-form__item(type="text", name="name" placeholder="Name*" required)
                        input.message-form__item(type="email", name="email" placeholder="Email*" required)
                        input.message-form__item(type="text", name="subject" placeholder="Subject*" required)
                    div.message-form-right-block
                        textarea.message-form__textarea(name="message" placeholder="Message*" required)
                        input.message-form__btn(type="submit", value="Hire Me!")
            section.address
                div.address-block
                    div.address-block__img
                    div.address-block-text
                        div.address-block-text__title Location
                        div.address-block-text__contact 324, Golden Tower, Amborkhana, Sylhet
                div.address-block
                    div.address-block__img.address-block__img_bg-mail
                    div.address-block-text
                        div.address-block-text__title Email
                        div.address-block-text__contact junaed@deviserweb.com
                div.address-block
                    div.address-block__img.address-block__img_bg-call
                    div.address-block-text
                        div.address-block-text__title Toll Free Call
                        div.address-block-text__contact 0800 234 6578 
            section.social
                i.fa.fa-twitter(aria-hidden="true")
                i.fa.fa-skype(aria-hidden="true")
                i.fa.fa-dribbble(aria-hidden="true")
            section.copyright Copyright: Junaed Ahmed, All rights reserved