<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="styles/style.css")
        title Home
    body
        div.main-box
            input#menu-smart.menu-smart(type="checkbox", name="menu")
            label(for="menu-smart").start-menu
            label(for="menu-smart").close-menu
            div.menu
                div.menu-photo
                    div.menu-title
                        div.menu-title__name Al Rayhan
                        div.menu-title__work Ui/ux Expert
                div.menu-nav    
                    a.menu-nav__link(href="index.html") Home
                    a.menu-nav__link(href="index.html#about") About Me
                    a.menu-nav__link(href="index.html#education") Education
                    a.menu-nav__link(href="index.html#work") Work Experience                                                          
                    a.menu-nav__link(href="index.html#skills") Skills
                    a.menu-nav__link(href="portfolio.html") Portfolio
                    a.menu-nav__link(href="index.html#contact") Contact
            div.content        
                header.header                         
                    div.header-title
                        div.header-title__name Al Rayhan
                        div.header-title__work #Ui/ux Expert   |   #Graphic Designer
                        div.header-btn
                            a.header-btn__item(href="") Hire Me!
                section.about 
                    div.about-me#about 
                        div.titles 
                            div.title About Me
                            hr.titles__line
                        div.about-me__text
                            | Lorem ipsum dolor sit amet, ectetuer nonummy nibh euismod tincidunt ut laoreet  magna  laoreet  aliquam erat volutpat.
                        div.about-details
                            div.about-details__item Name: #[span.about-details__info Al Rayhan]
                            div.about-details__item Age: #[span.about-details__info 23 Years]
                            div.about-details__item Email: #[span.about-details__info mail@deviserweb.com]
                            div.about-details__item Web: #[span.about-details__info deviserweb.com]
                            div.about-details__item Address: #[span.about-details__info 24, Golden Street, New Castle]                    
                    div.about-photo
                        div.about-photo__img
                section.timeline-work#work
                    div.titles 
                        div.title.title Work Experience 
                        hr.titles__line
                    div.timeline-wrap    
                        div.left
                            div.timeline
                                div.timeline__title Creative Director #[span.timeline__email @deviserweb]
                                div.timeline__date Jan 2013 - Dec 2014
                                div.timeline__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                            div.timeline
                                div.timeline__title Managing Director #[span.timeline__email @Academy]
                                div.timeline__date Jan 2013 - Dec 2014
                                div.timeline__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.    
                        div.point
                            img(src="images/border.png", alt="")        
                        div.right     
                            div.timeline
                                div.timeline__title UI/UX Designer #[span.timeline__email @Academy]
                                div.timeline__date Jan 2013 - Dec 2014
                                div.timeline__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.   
                            div.timeline
                                div.timeline__title Ceo &amp; Founder #[span.timeline__email @Starlab]
                                div.timeline__date Jan 2013 - Dec 2014
                                div.timeline__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                section.timeline-edu#education
                    div.titles 
                        div.title.title Education
                        hr.titles__line
                    div.timeline-wrap    
                        div.left
                            div.timeline
                                div.timeline__title Bsc in Art Direction #[span.timeline__email @Sussex University]
                                div.timeline__date Jan 2013 - Dec 2014
                                div.timeline__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                            div.timeline
                                div.timeline__title Bachelor Degree #[span.timeline__email @Lusofona University]
                                div.timeline__date Jan 2013 - Dec 2014
                                div.timeline__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                        div.point
                            img(src="images/border.png", alt="")        
                        div.right        
                            div.timeline
                                div.timeline__title Graduation #[span.timeline__email @Oxford University]
                                div.timeline__date Jan 2013 - Dec 2014
                                div.timeline__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                            div.timeline
                                div.timeline__title High School #[span.timeline__email @IT Academy]
                                div.timeline__date Jan 2013 - Dec 2014
                                div.timeline__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.                
                section.skills#skills   
                    div.titles 
                        div.title.title_color-white My Skills
                        hr.titles__line
                    div.skill-wrap
                        div.skills-block
                            div.skill
                                div.skill__text User Experience
                                div.skill-bar
                                    div.skill-bar__line 
                                    div.skill-bar__pct 90%
                            div.skill
                                div.skill__text User Interface
                                div.skill-bar
                                    div.skill-bar__line.skill-bar__line_bg-98
                                    div.skill-bar__pct 98%
                            div.skill
                                div.skill__text Web Design
                                div.skill-bar
                                    div.skill-bar__line.skill-bar__line_bg-70
                                    div.skill-bar__pct 70%
                        div.skills-block
                            div.skill
                                div.skill__text User Experience
                                div.skill-bar
                                    div.skill-bar__line 
                                    div.skill-bar__pct 90%
                            div.skill
                                div.skill__text User Interface
                                div.skill-bar
                                    div.skill-bar__line.skill-bar__line_bg-80
                                    div.skill-bar__pct 80%
                            div.skill
                                div.skill__text Web Design
                                div.skill-bar
                                    div.skill-bar__line.skill-bar__line_bg-96
                                    div.skill-bar__pct 96%
                        div.skills-block
                            div.skill
                                div.skill__text Communication
                                div.skill-bar
                                    div.skill-bar__line 
                                    div.skill-bar__pct 90%
                            div.skill
                                div.skill__text Team Work
                                div.skill-bar
                                    div.skill-bar__line.skill-bar__line_bg-80
                                    div.skill-bar__pct 80%
                            div.skill
                                div.skill__text Dedication
                                div.skill-bar
                                    div.skill-bar__line.skill-bar__line_bg-96
                                    div.skill-bar__pct 96%
                footer.footer#contact 
                    section.message-box 
                        p.message-box__title Leave a Message
                        form.message-form(action="")
                            div.message-form-left-block
                                input.message-form__item(type="text", name="name" placeholder="Name*" required)
                                input.message-form__item(type="email", name="email" placeholder="Email*" required)
                                input.message-form__item(type="text", name="subject" placeholder="Subject*" required)
                            div.message-form-right-block
                                textarea.message-form__textarea(name="message" placeholder="Message*" required)
                                input.message-form__btn(type="submit", value="Hire Me!")
                    section.address
                        div.address-block
                            div.address-block__img
                            div.address-block-text
                                div.address-block-text__title Location
                                div.address-block-text__contact 324, Golden Tower, Amborkhana, Sylhet
                        div.address-block
                            div.address-block__img.address-block__img_bg-mail
                            div.address-block-text
                                div.address-block-text__title Email
                                div.address-block-text__contact junaed@deviserweb.com
                        div.address-block
                            div.address-block__img.address-block__img_bg-call
                            div.address-block-text
                                div.address-block-text__title Toll Free Call
                                div.address-block-text__contact 0800 234 6578 
                    section.social
                        i.fa.fa-twitter(aria-hidden="true")
                        i.fa.fa-skype(aria-hidden="true")
                        i.fa.fa-dribbble(aria-hidden="true")
                    section.copyright Copyright: Junaed Ahmed, All rights reserved   
        script(src="code.js")