<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
        link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="styles/style.css")
        title Portfolio
    body
        div.main-box
            input#menu-smart.menu-smart(type="checkbox", name="menu")
            label(for="menu-smart").start-menu
            label(for="menu-smart").close-menu
            div.menu
                div.menu-photo
                    div.menu-title
                        div.menu-title__name Al Rayhan
                        div.menu-title__work Ui/ux Expert
                div.menu-nav    
                    a.menu-nav__link(href="index.html") Home
                    a.menu-nav__link(href="index.html#about") About Me
                    a.menu-nav__link(href="index.html#education") Education
                    a.menu-nav__link(href="index.html#work") Work Experience                                                          
                    a.menu-nav__link(href="index.html#skills") Skills
                    a.menu-nav__link(href="portfolio.html") Portfolio
                    a.menu-nav__link(href="index.html#contact") Contact
            div.content  
                header.header.header-portfolio
                    div.header-portfolio__title Lets Make Something Great
                    div.header-portfolio__text I’m an UI designer that prides ourself on being strategic brand partners and <br> awesome product providers
                    div.header-btn
                        a.header-btn__item(href="") Hire Me!
                section.portfolio
                    div.titles 
                        div.title Portfolio
                        hr.titles__line
                    div#carouselExampleIndicators.carousel.slide.slider__position(data-ride="carousel", data-interval="false")
                        ol.carousel-indicators
                            li.carousel-indicators__item.active(data-target="#carouselExampleIndicators", data-slide-to="0") Branding
                            li.carousel-indicators__item(data-target="#carouselExampleIndicators", data-slide-to="1") Web Design
                            li.carousel-indicators__item(data-target="#carouselExampleIndicators", data-slide-to="2") Animation
                            li.carousel-indicators__item(data-target="#carouselExampleIndicators", data-slide-to="3") UI/ux        
                        div.carousel-inner
                            div.carousel-item.active
                                div.carousel-flex
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-1.png")
                                        div.project-description
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-2.png")
                                        div.project-description.project-description_bg-blue
                                            div.project-description__title Website Design
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-3.png")
                                        div.project-description.project-description_bg-brown
                                            div.project-description__title Music Player Design
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-4.png")
                                        div.project-description.project-description_bg-0093b5
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-5.png")
                                        div.project-description.project-description_bg-353541
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-6.png")
                                        div.project-description.project-description_bg-6176ab
                                            div.project-description__title Software Developement
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                            div.carousel-item
                                div.carousel-flex
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-1.png")
                                        div.project-description
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-2.png")
                                        div.project-description.project-description_bg-blue
                                            div.project-description__title Website Design
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-3.png")
                                        div.project-description.project-description_bg-brown
                                            div.project-description__title Music Player Design
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-4.png")
                                        div.project-description.project-description_bg-0093b5
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-5.png")
                                        div.project-description.project-description_bg-353541
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-6.png")
                                        div.project-description.project-description_bg-6176ab
                                            div.project-description__title Software Developement
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                            div.carousel-item
                                div.carousel-flex
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-1.png")
                                        div.project-description
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-2.png")
                                        div.project-description.project-description_bg-blue
                                            div.project-description__title Website Design
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-3.png")
                                        div.project-description.project-description_bg-brown
                                            div.project-description__title Music Player Design
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-4.png")
                                        div.project-description.project-description_bg-0093b5
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-5.png")
                                        div.project-description.project-description_bg-353541
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-6.png")
                                        div.project-description.project-description_bg-6176ab
                                            div.project-description__title Software Developement
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                            div.carousel-item
                                div.carousel-flex
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-1.png")
                                        div.project-description
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-2.png")
                                        div.project-description.project-description_bg-blue
                                            div.project-description__title Website Design
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-3.png")
                                        div.project-description.project-description_bg-brown
                                            div.project-description__title Music Player Design
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-4.png")
                                        div.project-description.project-description_bg-0093b5
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-5.png")
                                        div.project-description.project-description_bg-353541
                                            div.project-description__title Marketing Partner
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                                    div.project-block
                                        div.project-photo
                                            img.project-photo__img(src="images/portfolio-6.png")
                                        div.project-description.project-description_bg-6176ab
                                            div.project-description__title Software Developement
                                            div.project-description__text Branding UI/UX Article
                                            div.project-link 
                                                a(href="single-page.html", target="blank").project-link__item View Project
                                                    i.fa.fa-angle-right(aria-hidden="true")
                footer.footer 
                    section.message-box 
                        p.message-box__title Leave a Message
                        form.message-form(action="")
                            div.message-form-left-block
                                input.message-form__item(type="text", name="name" placeholder="Name*" required)
                                input.message-form__item(type="email", name="email" placeholder="Email*" required)
                                input.message-form__item(type="text", name="subject" placeholder="Subject*" required)
                            div.message-form-right-block
                                textarea.message-form__textarea(name="message" placeholder="Message*" required)
                                input.message-form__btn(type="submit", value="Hire Me!")
                    section.address
                        div.address-block
                            div.address-block__img
                            div.address-block-text
                                div.address-block-text__title Location
                                div.address-block-text__contact 324, Golden Tower, Amborkhana, Sylhet
                        div.address-block
                            div.address-block__img.address-block__img_bg-mail
                            div.address-block-text
                                div.address-block-text__title Email
                                div.address-block-text__contact junaed@deviserweb.com
                        div.address-block
                            div.address-block__img.address-block__img_bg-call
                            div.address-block-text
                                div.address-block-text__title Toll Free Call
                                div.address-block-text__contact 0800 234 6578 
                    section.social
                        i.fa.fa-twitter(aria-hidden="true")
                        i.fa.fa-skype(aria-hidden="true")
                        i.fa.fa-dribbble(aria-hidden="true")
                    section.copyright Copyright: Junaed Ahmed, All rights reserved


        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")