<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="styles/style.css")
        title Single-Page
    body
        div.main-box
            input#menu-smart.menu-smart(type="checkbox", name="menu")
            label(for="menu-smart").start-menu
            label(for="menu-smart").close-menu
            div.menu
                div.menu-photo
                    div.menu-title
                        div.menu-title__name Al Rayhan
                        div.menu-title__work Ui/ux Expert
                div.menu-nav    
                    a.menu-nav__link(href="index.html") Home
                    a.menu-nav__link(href="index.html#about") About Me
                    a.menu-nav__link(href="index.html#education") Education
                    a.menu-nav__link(href="index.html#work") Work Experience                                                          
                    a.menu-nav__link(href="index.html#skills") Skills
                    a.menu-nav__link(href="portfolio.html") Portfolio
                    a.menu-nav__link(href="index.html#contact") Contact
            div.content        
                section.post
                    div.project-block
                        div.project-photo
                        div.project-description
                            div.project-description__title Leading University Website Design
                            div.project-description__text Branding UI/UX Article
                    div.post-block
                        p.post-block__text 
                            | Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage 
                            | asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel
                            | kombu.
                        p.post-block__text
                            | Watt wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis 
                            | at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla 
                            | facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
                            | Typi non habent claritatem insitam.
                        p.post-block__text
                            | Huatt wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis 
                            | at vero eros et accumsan et iusto odio dignissim qui blandit. 
                        p.post-block__text
                            | Eraesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue 
                            | nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam.
                    div.comment-block
                        div.comment-btn Comments (2)
                        div.comment-user
                            div.comment-user__photo
                            div.comment-text
                                div.comment-text__name Junaed Ahmed  Numan  #[span.comment-text__date Jan 18th 2015]
                                div.comment-text__comm 
                                    | Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipi dolor sit amet, consectetuer adipiscing elit.
                        div.reply
                            div.reply-text Reply
                            div.comment-user.comment-user_margin-top-10
                                div.comment-user__photo
                                div.comment-text
                                    div.comment-text__name Angelina Zolie #[span.comment-text__date Jan 18th 2015]
                                    div.comment-text__comm 
                                        |Terisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipi dolor sit amet.
                        form.form-comment(action="")
                            input.form-comment__item(type="email" name="email" placeholder="Name*" required)
                            textarea.form-comment__textarea(name="comment" placeholder="Comment*" required)
                            input.form-comment__submit(type="submit" value="Submit")
                footer.footer 
                    section.message-box 
                        p.message-box__title Leave a Message
                        form.message-form(action="")
                            div.message-form-left-block
                                input.message-form__item(type="text", name="name" placeholder="Name*" required)
                                input.message-form__item(type="email", name="email" placeholder="Email*" required)
                                input.message-form__item(type="text", name="subject" placeholder="Subject*" required)
                            div.message-form-right-block
                                textarea.message-form__textarea(name="message" placeholder="Message*" required)
                                input.message-form__btn(type="submit", value="Hire Me!")
                    section.address
                        div.address-block
                            div.address-block__img
                            div.address-block-text
                                div.address-block-text__title Location
                                div.address-block-text__contact 324, Golden Tower, Amborkhana, Sylhet
                        div.address-block
                            div.address-block__img.address-block__img_bg-mail
                            div.address-block-text
                                div.address-block-text__title Email
                                div.address-block-text__contact junaed@deviserweb.com
                        div.address-block
                            div.address-block__img.address-block__img_bg-call
                            div.address-block-text
                                div.address-block-text__title Toll Free Call
                                div.address-block-text__contact 0800 234 6578 
                    section.social
                        i.fa.fa-twitter(aria-hidden="true")
                        i.fa.fa-skype(aria-hidden="true")
                        i.fa.fa-dribbble(aria-hidden="true")
                    section.copyright Copyright: Junaed Ahmed, All rights reserved            